@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Vina+Sans&display=swap');

body{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: rgb(56, 56, 56);
    margin: 0;
}

button{
    all: unset;
    cursor: pointer;
}

.start-button{
    background-color: rgb(56, 56, 56);
    border: 2px solid white;
    border-radius: 5px;
    
    color: white;
    width: 225px;
    height: 75px;
    font-size: 30px;
    text-align: center;
    cursor: grabbing;

    transition: all 2s ease;
}

.start-button-to-window{
    background-color: transparent;
    color: transparent;
    border: transparent;

    width: 640px;
    height: 480px;
    border-radius: 10px;
    font-size: 90px;
    margin-bottom: 0;

}

.gamewindow-while-none{
    width: 640px;
    height: 480px;
    border-radius: 0px;
    background-color: transparent;

    transition: all 1s;
}

.gamewindow-while-door{
    width: 9px;
    height: 20px;

    border: 2px solid white;
    border-bottom: 0;
    box-shadow: 0px -5px 30px 15px aqua;
    background-color: rgba(0, 255, 255, 0.8);

    transition: all 3s;
}

.gamewindow-while-game{
   

    width: 640px;
    height: 480px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0px -5px 100px 15px aqua;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    

    transition: all 1s;
}

.light-path{

    
    border-bottom: 90px solid rgba(0, 255, 255, 0.5);
    border-right: 90px solid transparent;
    border-left: 90px solid transparent;
    
    width: 9px;
    margin: 0;

    transition: all 2s;
}

.bot-speak{
   
    width: 400px;
    height: 61px;
    
    background-color: rgba(255, 255, 255, 0.5);
    color: aqua;
    font-size: 50px;
    font-family: "Vina Sans";
    border-radius: 5px;

    padding: 10px;
    margin-bottom: 10px;
    margin-top: 30px;

    display:flex;
    justify-content: center;
    align-items: center;

    

}

.runewall{
   
    height: 480px;
    width: 640px;
    z-index: -3;
    color: rgba(255, 255, 255, 0.3);
    background-color: transparent;
    font-size: 4px;
    
    position: absolute;
    white-space: normal;
    overflow: hidden;

    text-align: center;

    transition: all 2s;
    
    

}

.bot-eye{

    height: 80px;
    width: 80px;

    border-radius: 100%;
    border: 3px solid lightgray;
    background-color: black;
    flex-shrink: 0;

    margin-top: 10px;
    margin-bottom: auto;

    transition: all 2s;
}

.bot-eye-active{ /* pseudostate */
   
   
    height: 80px;
    width: 80px;

    border-radius: 100%;
    border: 3px solid lightgray;
    background-color: rgba(167, 0, 0, 0.7) ;
    box-shadow: inset 5px 5px 20px 4px rgba(255, 255, 255, 0.452),inset -5px -5px 20px 4px rgb(83, 2, 2);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;

    margin-top: 10px;
    margin-bottom: auto;

    transition: all 2s;


}

.bot-eye-pupil{
    
    z-index: 1;
    height: 40px;
    width: 40px;

    border-radius: 100%;
    border: 1px solid rgba(124, 124, 124, 0.5);
    background-color: rgba(255, 0, 0, 0.5) ;
    color: rgba(0, 0, 0, 0.459);
    font-size: 30px;
    box-shadow: inset 5px 5px 10px -2px rgb(255, 255, 255),inset -5px -5px 10px -2px rgb(83, 2, 2);   

    

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.light-cone{
    
    transform: translateY(115px);
    
    border-bottom: 230px solid rgba(167, 0, 0, 0.3);
    width: 30px;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
}

.trialroom-floor{
    
    box-sizing: border-box;
    height: 150px;
    width: 350px;
    background-color: rgb(136, 135, 135);
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;

    border-top-right-radius: 150px;
    border-top-left-radius: 150px;

    padding-bottom: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    flex-shrink: 0;
    flex-grow: 0;

}

.character{
    
    color: aquamarine;
    position: absolute;

    margin-top: 80px;
}

.trialroom-exit-door{
   
    width: 27px;
    height: 60px;
    
    background-color: transparent;

    border: 2px solid white;
    border-bottom: 0;

    transition: all 1s;

    margin-top: -30px;
    
}

.trialroom-exit-door-active{
   
    width: 27px;
    height: 60px;
    
    background-color: rgb(0, 255, 255);
    box-shadow: 0px -5px 30px 15px aqua;

    border: 2px solid white;
    border-bottom: 0;

    transition: all 3s;

    margin-top: -30px;
    
}

.player-choice-container{
   
    box-sizing: border-box;
    position: absolute;
    height: 80px;
    width: 200px;
    border-radius: 100%;

    background-color: transparent;
    
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.challenge-button{
   
    height: 80px;
    width: 200px;
    border-radius: 100%;
    background-color: rgb(56, 56, 56);
    color: aquamarine;
    cursor: pointer;

    font-family: "Permanent Marker";
    text-align: center;


}

.button-rock,
.button-paper,
.button-scissors{
   z-index: 25;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: rgba(127, 255, 212);
    border: 1px solid white;
    text-align: center;
    font-size: 30px;

    box-shadow: inset 5px 5px 10px white,1px 20px 15px -10px  aquamarine;
}

.button-paper{
    margin-top: -100px;
}